<h2>List of customers</h2> 

<customersform *ngIf = "addCustomerFormOpen"
    (update) = "add($event)"
    (closeEdit) = "addCustomerFormOpen = false"  
    [formType] = "'Add Customer'">      
</customersform>  
<div>
    <button mat-raised-button
    color = "primary"
    (click) = "addCustomerFormOpen = !addCustomerFormOpen"
  >
  Add customers
  </button>      
  </div>
  
<mat-accordion>
<mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        *ngFor = "let customer of customers$ | async;let i = index">
                            <mat-expansion-panel-header>
        <mat-panel-title>
           name: {{customer.name}}
        </mat-panel-title>
        <mat-panel-description>
            eduction years: {{customer.years}}
        </mat-panel-description>
        <mat-panel-description>
             income: {{customer.income}}
        </mat-panel-description>

            <button mat-raised-button
            color = "warn"
            (click) = "deleteCustomer(customer.id)">
            Delete
            </button>
  
            <button *ngIf ="customer.ST==0" mat-raised-button color="primary" (click)="predict(customer)">Predict</button>
            <mat-panel-description *ngIf = "customer.category=='YES'" class="green">
                {{customer.category}}
            </mat-panel-description>
            <mat-panel-description *ngIf = "customer.category=='NO'" class="red">
                {{customer.category}}
            </mat-panel-description>
            <mat-panel-description *ngIf = "customer.category==''">
                {{customer.category}}
            </mat-panel-description>
            <button *ngIf ="customer.ST==1" mat-raised-button color="primary" (click)="save(customer)">Save</button>
            <p *ngIf ="customer.ST==2"> saved </p> 
            </mat-expansion-panel-header> 
    <button mat-raised-button
    color = "primary"
    (click) = "editstate[i] = !editstate[i]">
        Edit
  </button> 

    <customersform
        [hidden] = "!editstate[i]"        
        [name] = "customer.name"
        [years] = "customer.years"
        [income] = "customer.income"
        [id] = "customer.id"
        [formType] = "'Edit customer'"
        (update) = "update($event);editstate[i] = !editstate[i]"
        (closeEdit) = "editstate[i] = !editstate[i]">
    </customersform> 

    
</mat-expansion-panel>



</mat-accordion>

